@charset "utf-8";
body{
    color: rgba(208, 216, 212, 0.959);
}
h1{
    color:rgba(0, 255, 157, 0.959)
}
#principal{
    text-align: center;
    background-color: cyan;
    color: white;
    
}
h2{
    color: rgba(0, 255, 0, 0.959);
}
.basico{
color: rgba(51, 255, 0, 0.959);
}
.intermediario{
color: rgba(229, 255, 0, 0.959);
}
.avancado{
color: rgba(255, 30, 0, 0.959);
}